@charset "utf-8";

#graphics {
    position: relative;
    /* display:inline-block; */
    width: 98%;
}

#map {
    position: absolute;
    width: 98%;
    object-fit: contain;
    z-index: -1;
}

#overlay {
    position: absolute;
    z-index: 10;
}
table {
    border: 1px solid orange;
}

td {
    border: 1px solid red;
}
