{% extends "layout.html" %}
{%- block extraheaders %}
  <script>
  {% if debug == 'fake' %} var data_url_type = 0;
  {% elif debug == 'local' %} var data_url_type = 1;
  {% else %} var data_url_type = 2;
  {% endif %}
  </script>
{%- endblock %}
{%- block endjs %}
  {% if debug == 'edit' %}
  {{ macros.js('rackclick.js') }}
  {% else %}
  {{ macros.js('canvas.js') }}
  {% if debug == 'dots' %}
  {{ macros.js('dots.js') }}
  {% else %}
  {{ macros.js('starts.js') }}
  {{ macros.js('exits.js') }}
  {{ macros.js('animation.js') }}
  {% endif %}
  {% endif %}
{%- endblock %}
{% block body %}
<div id="graphics">
  <object id="map" data="{{ url_for('static', filename='facility.svg')}}" type="image/svg+xml"></object>
  {% if debug != 'edit' %}
  <canvas id="overlay" height="300" width="500"></canvas>
  {% endif %}
</div>
{% endblock %}
