{% extends "layout.html" %}
{%- block extraheaders %}
  <script>
  {% if debug == 'fake' %} var data_url_type = 0;
  {% elif debug == 'local' %} var data_url_type = 1;
  {% else %} var data_url_type = 2;
  {% endif %}
  </script>
{%- endblock %}
{%- block endjs %}
  <!-- {{ macros.js('rackclick.js') }} -->
  {{ macros.js('canvas.js') }}
  {{ macros.js('starts.js') }}
  {{ macros.js('exits.js') }}
  {{ macros.js('animation.js') }}
{%- endblock %}
{% block body %}
<div id="graphics">
  <!-- <object id="map" data="{{ url_for('static', filename='facility.svg')}}" type="image/svg+xml"></object> -->
  <img id="map" src="{{ url_for('static', filename='facility.svg')}}" />
  <canvas id="overlay" height="300" width="500"></canvas>
</div>
<p>rate /10s: <span id="rate">0</span></p>
{% endblock %}
